polaritonic_and_more/output.dat
polaritonic_and_more/__pycache__/*
polaritonic_and_more/.DS_Store*
.ipynb_checkpoints/*
6004/WEEK1/.ipynb_checkpoints/*
6004/WEEK2/.ipynb_checkpoints/*
6004/WEEK3/.ipynb_checkpoints/*
6004/WEEK4/.ipynb_checkpoints/*
6004/.ipynb_checkpoints/*
quantumchem/.ipynb_checkpoints/*
psi.*
6004/psi.*
3160/psi.*
quantumchem/psi.*
polaritonic_and_more/.ipynb_checkpoints/*
polaritonic_and_more/output.dat
